.game-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4rem;
  max-width: 42rem;
  width: 100%;
  margin: 0 auto;
}

.game-result-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.game-result-choice > button {
  margin-bottom: 1.5rem;
}

.game-result-choice > p {
  font-weight: 600;
  text-align: center;
}

.game-result-choice:first-child {
  justify-self: start;
  animation: fade-in ease-in .5s;
}

.game-result-choice:nth-child(2) {
  justify-self: end;
  animation: fade-in .5s ease-in .5s backwards;
}

.play-again-wrapper {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in .5s ease-in 1s backwards;
}

.play-again-wrapper > button {
  display: grid;
  place-items: center;
  width: 11rem;
  background-color: white;
  color: hsl(229, 25%, 31%);
  border-radius: .5rem;
  height: 2.5rem;
  font-weight: 600;
}

.play-again-wrapper button:hover {
  color: hsl(349, 71%, 52%);
}

.play-again-wrapper > p {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: .75rem;
}

@media screen and (min-width: 48rem) {
  .game-result {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    row-gap: 0;
    justify-content: space-between;
    align-items: center;
  }
  
  .play-again-wrapper {
    grid-column: 2 / 3;
    grid-row: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}