.app {
  min-height: 100vh;
  max-height: 64rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.rules-btn {
  display: block;
  margin: auto auto 2rem;
  background-color: transparent;
  color: white;
  border-radius: .5rem;
  padding: .75rem 2rem;
  border: 3px solid hsl(217, 16%, 45%);
  letter-spacing: .2em;
  font-weight: 600;
}

@media screen and (min-width: 48rem) {
  .rules-btn {
    margin-left: auto;
    margin-right: 0;
  }
}